In [9]:
import pandas as pd
import numpy as np
import math

In [10]:
# Представьте, что вы аналитик в сервисе такси. Ваша задача – написать функцию haversine для подсчета расстояния
# между пунктами отправления и прибытия и, используя  pd.iterrows(), создать колонку distance с подсчитанным расстоянием.
# Более подробно ознакомиться с формулой можно здесь.

# Датасет, с которым мы будем работать – данные о поездках в Нью-Йорке. Он уже сохранен в переменную nyc, 
# но вы можете самостоятельно подгрузить его отсюда и потренироваться у себя в ноутбуке.

In [11]:
nyc = pd.read_csv('nyc.csv.zip')
nyc[:3]

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2

In [12]:
# 2 * r * math.asin(((math.sin((fi2 - fi1) / 2))**2 + math.cos(fi1) * math.cos(fi2)*(math.sin((la2 - la1) / 2))**2)**0.5)

In [13]:
def haversine(fi1, fi2, la1, la2, r = 6371):
    fi1 = np.radians(fi1)
    fi2 = np.radians(fi2)
    la1 = np.radians(la1)
    la2 = np.radians(la2)
    distance = 2 * r * math.asin(((math.sin((fi2 - fi1) / 2))**2 + math.cos(fi1) * math.cos(fi2)*(math.sin((la2 - la1) / 2))**2)**0.5)
    return(distance)

In [14]:
dists = []
for i, row in  nyc.iterrows():
    dists.append(haversine(row['pickup_latitude'], row['dropoff_latitude'], row['pickup_longitude'], row['dropoff_longitude'])) 
nyc['distance'] = dists
nyc[:3]

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,1.030764
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,8.450134
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,1.389525