In [44]:
import pandas as pd
import os
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline
import requests

In [45]:
sns.set(
    font_scale=2,
    style="whitegrid",
    rc={'figure.figsize':(20,7)}
        )

In [46]:
temp = pd.DataFrame([[1, 1.5],[2, 5]], columns=['int', 'float'])
temp

   int  float
0    1    1.5
1    2    5.0

In [47]:
ads_data = pd.read_csv('C:\\Users\\sautk\\Jupyter\\Learning_Notebooks\\Lesson_6\\ads_data.csv')
ads_data.head(1)

,date,time,event,platform,ad_id,client_union_id,campaign_union_id,ad_cost_type,ad_cost,has_video,target_audience_count
0,2019-04-01,2019-04-01 00:00:48,view,android,45061,34734,45061,CPM,200.6,0,1955269

In [57]:
for i, r in ads_data[:1].iterrows():
    print("Индекс: {},\nСодержимое строки:\n{}\n".format(i, r['platform']))

Индекс: 0,
Содержимое строки:
android

In [85]:
test_iter = pd.DataFrame([[1, 1.5, "A", True],[2, 5, "B", False],[79, 0.5, "c", False]], columns=['int', 'float', 'letter', 'bool'])
for i in test_iter.itertuples():
    print(i[0:4])

(0, 1, 1.5, 'A')
(1, 2, 5.0, 'B')
(2, 79, 0.5, 'c')

In [91]:
for i, r in test_iter[:3].iterrows():
    print(i, r['letter'])

0 A
1 B
2 c