In [2]:
import pandas as pd
import os
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

In [3]:
# В данном проекте вы поработаете с довольно нетипичными для аналитика данными: gff файлом, 
# который описывает геном мухи (описание формата можно найти здесь).

In [4]:
df = pd.read_csv('gff.tsv', sep='\t')
df.head(3)

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...

In [5]:
# Выделите из колонки attributes значение атрибута Parent. Т.е. если там записано Parent=x, то нам нужен x
# Какое значение атрибута Parent самое частое?
pattern = re.compile('Parent=.*')
df['Parent'] = df.attributes.apply(lambda x: pattern.findall(x)[0].strip(','))
# [0], т.к. pattern.findall даёт на выходе список, а не одно значение.
df['Parent'] = df['Parent'].str.replace('Parent=', '')
pd.pivot_table(data=df, index='Parent' , values='start', aggfunc='count')

                          start
Parent
NC_000083.5:LOC100040603     33
XM_001475631.1              479

In [51]:
# Какое самое частое значение в колонке type?
pd.pivot_table(data=df, index='type' , values='start', aggfunc='count')

                 start
type
CDS                170
exon               201
five_prime_UTR      47
mRNA                33
protein             29
three_prime_UTR     32